<template>
  <section class="section">
    <div class="container">

      <!-- User Access Control -->
      <div class="title is-4">
        Akses Kontrol
      </div>

      <!-- Who are admins -->
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Administrator</label>
        </div>
        <div class="field-body">
          <div class="field x-ulist">
            <div class="control" v-for="user in admin" :key="user._id">
              {{user.name}} ({{user.username}})
            </div>
            <div class="control" v-if="!admin.length">
              Tidak ada
            </div>
          </div>
        </div>
      </div>

      <!-- Who are user managers -->
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Manager Pengguna</label>
        </div>
        <div class="field-body">
          <div class="field x-ulist">
            <div class="control" v-for="user in managerUser" :key="user._id">
              {{user.name}} ({{user.username}})
              &nbsp; <a @click="remove(user.username, 'manager:user')">X</a>
            </div>
            <div class="control" v-if="!managerUser.length">
              Tidak ada
            </div>
          </div>
        </div>
      </div>

      <!-- Who are info managers -->
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Manager Informasi</label>
        </div>
        <div class="field-body">
          <div class="field x-ulist">
            <div class="control" v-for="user in managerInfo" :key="user._id">
              {{user.name}} ({{user.username}})
              &nbsp; <a @click="remove(user.username, 'manager:info')">X</a>
            </div>
            <div class="control" v-if="!managerInfo.length">
              Tidak ada
            </div>
          </div>
        </div>
      </div>

      <!-- Add access to a user -->
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Tambahkan Akses</label>
        </div>
        <div class="field-body">
          <form @submit.prevent="add()">
            <div class="field has-addons">
              <div class="control">
                <input
                  type="text"
                  class="input"
                  v-model="newAccessUsername"
                  placeholder="Tulis username..."
                />
              </div>
              <div class="control">
                <div class="select">
                  <select v-model="newAccessRole">
                    <option value="">Pilih salah satu</option>
                    <option value="manager:user">Manager User</option>
                    <option value="manager:info">Manager Info</option>
                  </select>
                </div>
              </div>
              <div class="control">
                <button :class="[
                  'button',
                  (newAccessIsLoading ? 'is-loading' : null)
                ]">
                  +
                </button>
              </div>
            </div>
            <div class="field">
              <p class="help is-danger" v-if="errors.username">{{errors.username}}</p>
              <p class="help is-danger" v-if="errors.role">{{errors.role}}</p>
            </div>
          </form>
        </div>
      </div>

      <hr />

      <!-- Website Configuration -->
      <div class="title is-4">
        Konfigurasi Web
      </div>

      <form @submit.prevent="saveWebConfig()">

        <!-- Website Name -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Nama Web</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  type="text"
                  v-model="websiteName"
                  class="input"
                  placeholder="Tulis nama website ini..."
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input
                  type="text"
                  v-model="websiteShortName"
                  class="input"
                  placeholder="Tulis nama (pendek) website ini..."
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Website Advice -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Sambutan Selamat Datang</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea
                  v-model="websiteAdvice"
                  class="textarea"
                  placeholder="Tulis sambutan untuk halaman depan..."
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Web Config Submit -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary" type="submit">Simpan</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
import api from '@/api'
import store from '@/global-data'

export default {
  data () {
    return {
      newAccessIsLoading: false,
      errors: {},
      newAccessUsername: '',
      newAccessRole: '',
      admin: [],
      managerUser: [],
      managerInfo: [],
      websiteName: '',
      websiteShortName: '',
      websiteAdvice: ''
    }
  },

  mounted () {
    api
      .get('/access-control/all')
      .then(({ data }) => {
        this.admin = data.admin
        this.managerUser = data.manager_user
        this.managerInfo = data.manager_info
      })
      .catch(err => {
        store.addAlert('danger', err.name, err.message)
      })

    api
      .get('/access-control/web-config', {
        params: {
          fields: ['name', 'shortname', 'advice']
        }
      })
      .then(({ data }) => {
        this.websiteName = data.config.name
        this.websiteShortName = data.config.shortname
        this.websiteAdvice = data.config.advice
      })
      .catch(err => {
        store.addAlert('danger', err.name, err.message)
      })
  },

  methods: {
    // Add user access control
    add () {
      this.errors = {}
      this.newAccessIsLoading = true

      api
        .post('/access-control/add', {
          username: this.newAccessUsername,
          role: this.newAccessRole
        })
        .then(({ data }) => {
          this.managerUser = data.manager_user
          this.managerInfo = data.manager_info
          this.newAccessUsername = ''
          this.newAccessRole = ''
        })
        .catch(err => {
          if (
            err.response &&
            err.response.status === 422 &&
            err.response.data.errors
          ) {
            this.errors = err.response.data.errors
            return
          }

          store.addAlert('danger', err.name, err.message)
        })
        .finally(() => {
          this.newAccessIsLoading = false
        })
    },

    // remove user access control
    remove (username, role) {
      api
        .post('/access-control/remove', { username, role })
        .then(({ data }) => {
          this.managerUser = data.manager_user
          this.managerInfo = data.manager_info
        })
        .catch(err => {
          store.addAlert('danger', err.name, err.message)
        })
    },

    // update website configuration
    saveWebConfig () {
      api
        .post('/access-control/update-web-config', {
          fields: {
            name: this.websiteName,
            shortname: this.websiteShortName,
            advice: this.websiteAdvice
          }
        })
        .then(({ data }) => {
          store.setWebConfig(data.config)
          store.addAlert(
            'success',
            'Web Diperbaharui',
            'Konfigurasi website telah diperbaharui'
          )
        })
        .catch(err => {
          store.addAlert('danger', err.name, err.message)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.x-ulist {
  padding: .4rem 0;
}
</style>
