<template>
  <div class="home">
    <div class="home-landing">
      <div class="home-landing-body">

        <div class="container has-text-centered">
          <!-- Illustration Image -->
          <img src="/images/illustration.svg" class="x-illustration"/>
        </div>

        <div class="container">
          <div class="is-hidden-mobile x-f-separator"></div>

          <!-- Features -->
          <div class="box-features">
            <div class="columns">
              <div class="column is-3 has-text-centered">
                <p class="title is-5">
                  Praktikum
                </p>
                <p class="description">
                  Pengumuman terbaru, jadwal praktikum dan transparansi nilai
                  dan penilaian
                </p>
                <router-link class="button is-light" to="/practicum">
                  Up Coming
                </router-link>
              </div>
              <div class="column is-3 has-text-centered">
                <p class="title is-5">
                  Penelitian
                </p>
                <p class="description">
                  Informasi penelitian terbaru, publikasi dan daftar penelitian
                  yang dilaksanakan
                </p>
                <router-link class="button is-light" to="/research">
                  Coming Soon
                </router-link>
              </div>
              <div class="column is-3 has-text-centered">
                <p class="title is-5">Pelatihan</p>
                <p class="description">
                  Informasi pelatihan terbaru, pendaftaran, jadwal, dan materi
                  penjelasan metode
                </p>
                <router-link class="button is-light" to="/training">
                  Coming Soon
                </router-link>
              </div>
              <div class="column is-3 has-text-centered">
                <p class="title is-5">
                  Pengujian
                </p>
                <p class="description">
                  Informasi pengujian terbaru, pendaftaran, jadwal, dan panduan
                  untuk keikut sertaan
                </p>
                <router-link class="button is-light" to="/examination">
                  Coming Soon
                </router-link>
              </div>
            </div>
          </div>
        </div>

        <!-- Advice & Wise Words -->
        <div class="container x-r-separator">
          <article class="user-review">
            <div class="user-avatar">
              <div class="x-r-blank-avatar"></div>
            </div>
            <div
              class="user-review-content content"
              v-html="renderMD($root.$data.webConfig.advice)"
            ></div>
          </article>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showdown from 'showdown'

showdown.setFlavor('github')
const converter = new showdown.Converter()

export default {
  methods: {
    // convert markdown to HTML
    renderMD (content) {
      return converter.makeHtml(content)
    }
  }
}
</script>

<style lang="scss" scoped>
.x-illustration {
  width: 90%;
  max-width: 420px;
  margin: 1rem;
}

.x-f-separator {
  margin-top: 6rem;
}

.x-r-separator {
  margin-top: 8rem;
}

.x-r-blank-avatar {
  background: #ddd;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1rem;
}
</style>
