<template>
  <section class="section">
    <div class="columns">
      <div class="column is-4 is-hidden-mobile"></div>

      <div class="column is-4">
        <div class="title is-4">
          Autentikasi Pengguna
        </div>

        <form method="post" @submit.prevent="attemptLogin()">

          <!-- Errors -->
          <div class="field">
            <p class="help is-danger">
              {{errorMessage}}
            </p>
          </div>

          <!-- Field: Username -->
          <div class="field">
            <label class="label">
              Username
            </label>
            <div class="control">
              <input
                class="input"
                v-model="username"
                placeholder="Tulis username..."
                type="text"
              />
            </div>
          </div>

          <!-- Field: Password -->
          <div class="field">
            <label class="label">
              Password
            </label>
            <div class="control">
              <input
                class="input"
                v-model="password"
                placeholder="Tulis password..."
                type="password"
              />
            </div>
          </div>

          <!-- Field: Keep loging in -->
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" v-model="remember"/>
                &nbsp; Tetap masuk
              </label>
            </div>
          </div>

          <!-- Buttons -->
          <div class="field">
            <div class="control">
              <button :class="[
                'button',
                'is-primary',
                (isLoading ? 'is-loading' : null)
              ]">
                Masuk
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-4 is-hidden-mobile"></div>
    </div>
  </section>
</template>

<script>
import api from '@/api'
import store from '@/global-data'

export default {
  data () {
    return {
      errorMessage: '',
      username: '',
      password: '',
      remember: false,
      isLoading: false
    }
  },

  mounted () {
    if (this.$root.$data.user) this.$router.push('/')
  },

  methods: {
    // Process login
    attemptLogin () {
      this.isLoading = true

      api
        .post('/login', {
          username: this.username,
          password: this.password,
          remember: this.remember
        })
        .then(({ data }) => {
          store.setUser(data.user)
          this.$router.push('/')

          store.addAlert(
            'success',
            'Berhasil Login',
            `Anda teridentifikasi sebagai ${data.user.name}`
          )
        })
        .catch(err => {
          if (
            err.response.status === 422 &&
            err.response.data.message
          ) {
            this.errorMessage = err.response.data.message
            return
          }

          store.addAlert('danger', err.name, err.message)
        })
        .finally(() => {
          this.isLoading = false
        })
    }
  }
}
</script>
