<template>
  <section class="section">
    <div class="columns">
      <div class="column is-3 is-hidden-mobile"></div>

      <div class="column is-6">

        <div class="title is-4">
          Pendaftaran Pengguna Baru
        </div>

        <form method="post" @submit.prevent="attemptRegister()">

          <!-- Field: Name -->
          <div class="field">
            <label class="label">
              Nama
            </label>
            <div class="control">
              <input
                class="input"
                v-model="name"
                placeholder="Tulis nama..."
                type="text"
              />
            </div>
            <p class="help is-danger">
              {{errors.name}}
            </p>
          </div>

          <!-- Field: Username -->
          <div class="field">
            <label class="label">
              Username
            </label>
            <div class="control">
              <input
                class="input"
                v-model="username"
                placeholder="Tulis username..."
                type="text"
              />
            </div>
            <p class="help is-danger">
              {{errors.username}}
            </p>
          </div>

          <!-- Field: Password -->
          <div class="field">
            <label class="label">
              Password
            </label>
            <div class="control">
              <input
                class="input"
                v-model="password"
                placeholder="Tulis password..."
                type="password"
              /></div>
            <p class="help is-danger">
              {{errors.password}}
            </p>
          </div>

          <!-- Field: Confirm Password -->
          <div class="field">
            <label class="label">
              Konfirmasi Password
            </label>
            <div class="control">
              <input
                class="input"
                v-model="confirmPassword"
                placeholder="Konfirmasi password..."
                type="password"
              />
            </div>
          </div>

          <!-- Buttons -->
          <div class="field">
            <div class="control">
              <button :class="[
                'button',
                'is-primary',
                (isLoading ? 'is-loading' : null)
              ]">
                Mendaftar
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-3 is-hidden-mobile"></div>
    </div>
  </section>
</template>

<script>
import api from '@/api'
import store from '@/global-data'

export default {
  data () {
    return {
      isLoading: false,
      name: '',
      username: '',
      password: '',
      confirmPassword: '',
      errors: {}
    }
  },

  mounted () {
    if (this.$root.$data.user) this.$router.push('/')
  },

  methods: {
    // Register new user, save it to server database and log user in
    attemptRegister () {
      this.isLoading = true
      this.errors = {}

      if (this.confirmPassword !== this.password) {
        this.errors.password = 'Konfirmasi password salah'
        this.isLoading = false
        return
      }

      api
        .post('/register', {
          name: this.name,
          username: this.username,
          password: this.password
        })
        .then(({ data }) => {
          store.setUser(data.user)
          this.$router.push('/')
        })
        .catch((err) => {
          if (
            err.response &&
            err.response.status === 422 &&
            err.response.data.errors
          ) {
            this.errors = err.response.data.errors
            return
          }

          store.addAlert('danger', err.name, err.message)
        })
        .finally(() => {
          this.isLoading = false
        })
    }
  }
}
</script>
