<template>
  <section class="section">
    <div class="columns">
      <div class="column is-3 is-hidden-mobile"></div>

      <div class="column is-6">
        <div class="title is-4">
          Pengaturan Akun
        </div>

        <form @submit.prevent="attemptUpdate()">

          <!-- Field: Name -->
          <div class="field">
            <label class="label">
              Nama
            </label>
            <div class="control">
              <input
                class="input"
                v-model="name"
                placeholder="Tulis nama..."
                type="text"
              />
            </div>
            <p class="help is-danger">
              {{errors.name}}
            </p>
          </div>

          <!-- Field: Username -->
          <div class="field">
            <label class="label">
              Username
            </label>
            <div class="control">
              <input
                class="input"
                v-model="username"
                placeholder="Tulis username..."
                type="text"
              />
            </div>
            <p class="help is-danger">
              {{errors.username}}
            </p>
          </div>

          <!-- Field: New Password -->
          <div class="field">
            <label class="label">
              Password Baru
            </label>
            <div class="control">
              <input
                class="input"
                v-model="password"
                placeholder="Tulis password..."
                type="password"
              />
            </div>
            <p class="help is-danger">
              {{errors.password}}
            </p>
          </div>

          <!-- Field: Confirm New Password -->
          <transition name="fade">
            <div v-show="password" class="field">
              <label class="label">
                Konfirmasi Password
              </label>
              <div class="control">
                <input
                  class="input"
                  v-model="confirmPassword"
                  placeholder="Konfirmasi password..."
                  type="password"
                />
              </div>
            </div>
          </transition>

          <!-- Field: Old Password -->
          <transition name="fade">
            <div v-show="password && confirmPassword" class="field">
              <label class="label">
                Password Lama
              </label>
              <div class="control">
                <input
                  class="input"
                  v-model="oldPassword"
                  placeholder="Tulis password lama..."
                  type="password"
                />
              </div>
              <p class="help is-danger">
                {{errors.old_password}}
              </p>
            </div>
          </transition>

          <!-- Buttons -->
          <div class="field">
            <div class="control">
              <button class="button is-primary">
                Perbaharui
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-3 is-hidden-mobile"></div>
    </div>
  </section>
</template>

<script>
import api from '@/api'
import store from '@/global-data'

export default {
  data () {
    return {
      uid: '',
      name: '',
      username: '',
      password: '',
      oldPassword: '',
      confirmPassword: '',
      errors: {}
    }
  },

  mounted () {
    api.get(`/user/${this.$route.params.id}`).then(({ data }) => {
      this.uid = data.user._id
      this.name = data.user.name
      this.username = data.user.username
    }).catch(console.log)
  },

  methods: {
    // Update this current user
    attemptUpdate () {
      const data = {}
      this.errors = {}

      if (this.name) data.name = this.name
      if (this.username) data.username = this.username

      if (this.password) {
        data.password = this.password
        data.old_password = this.oldPassword

        if (this.password !== this.confirmPassword) {
          this.errors.password = 'Konfirmasi password tidak sama'
          return
        }
      }

      api
        .patch(`/user/${this.uid}`, data)
        .then(({ data }) => {
          this.name = data.user.name
          this.username = data.user.username

          if (this.uid === this.$root.$data.user._id) {
            store.setUser(data.user)
          }
        })
        .catch((err) => {
          if (
            err.response &&
            err.response.status === 422 &&
            err.response.data.errors
          ) {
            this.errors = err.response.data.errors
            return
          }

          store.addAlert('danger', err.name, err.message)
        })
        .finally(() => {
          this.password = ''
          this.oldPassword = ''
          this.confirmPassword = ''
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
