<template>
  <div class="section is-medium">
    <div class="container has-text-centered">
      <div class="title is-1 is-spaced">{{user.name}}</div>
      <div class="subtitle is-6">@{{user.username}}</div>
    </div>
  </div>
</template>

<script>
import api from '@/api'

export default {
  data () {
    return {
      user: {}
    }
  },

  mounted () {
    api.get(`/user/${this.$route.params.id}`).then(({ data }) => {
      console.log(data)
      this.user = data.user
    })
  }
}
</script>
