<template>
  <div id="app">
    <navigation/>
    <alert/>

    <div class="x-view">
      <transition
        name="fade"
        mode="out-in"
        @before-leave="beforeLeave"
        @enter="enter"
        @after-enter="afterEnter"
      >
        <router-view/>
      </transition>
    </div>

    <div class="foot-container">
      <div class="copyright">
        Copyright of Contents &copy; {{$root.$data.webConfig.name}}
      </div>
      <div class="powered-by">
        Software is developed & maintained by &nbsp;
        <a class="has-text-white" href="http://arsfiqball.com">
          <strong>
            <u>
              Arsfiqball
            </u>
          </strong>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api'
import store from '@/global-data'
import Navigation from './widgets/Navigation'
import Alert from './widgets/Alert'

export default {
  components: {
    Navigation,
    Alert
  },

  mounted () {
    api
      .get('/whoami')
      .then(({ data }) => {
        if (data) store.setUser(data)
      })

    api
      .get('/access-control/web-config', {
        params: {
          fields: ['name', 'shortname', 'advice']
        }
      })
      .then(({ data }) => {
        store.setWebConfig(data.config)
        document.title = data.config.name
      })
  },

  methods: {
    // page transition before leave
    beforeLeave (element) {
      this.prevHeight = getComputedStyle(element).height
    },

    // page transition on enter
    enter (element) {
      const { height } = getComputedStyle(element)

      element.style.height = this.prevHeight

      setTimeout(() => {
        element.style.height = height
      })
    },

    // page transition afeter enter
    afterEnter (element) {
      element.style.height = 'auto'
    }
  }
}
</script>

<style lang="scss" scoped>
.x-view {
  min-height: 59vh
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
