@import url('https://fonts.googleapis.com/css?family=Nunito:300,700');

$family-primary: 'Nunito', sans-serif;
$primary: #4285F4;
$radius: 2px;
$light: #EBF3FE;

@import '~bulma/bulma';

#navbar {
  box-shadow: 0 0 15px #eee;
}

.home-landing {
  @extend .hero;
  @extend .is-medium;
  background-image: url('../public/images/background.svg');
  background-repeat: no-repeat;
}

.home-landing-body {
  @extend .hero-body;

  .box-features {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    box-shadow: 0 0 15px #eee;
    border-radius: 6px;
    padding: 1.9rem;

    .description {
      margin: .5rem 0 1rem 0;
    }
  }

  .user-review {
    @extend .media;

    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  .user-avatar {
    @extend .media-left;
    @extend .is-hidden-mobile;
  }

  .user-review-content {
    @extend .media-content;
  }
}

.foot-container {
  @extend .has-text-white;

  padding: 3rem 1rem .5rem 1rem;
  background: url('../public/images/background-footer.svg');
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat;

  .copyright {
    @extend .has-text-centered;
    margin-top: 6.7rem;
  }

  .powered-by {
    @extend .has-text-right;
    margin: 2.5rem .5rem 0 0;
    font-size: 8pt;
  }
}
.editor-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .tabs ul {
    border-bottom: none;
  }
}

.info-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 16.5vh;

  .sticky {
    position: sticky;
    top: 12vh;
  }

  .date-box {
    @extend .is-size-2;
    @extend .has-text-centered;
    @extend .has-text-white;

    width: 60px;
    height: 60px;
    background: #4285F4;
    border-radius: 3px;
    font-weight: bold;
  }

  .month-box {
    @extend .has-text-centered;
    font-size: 10pt;
    padding: .2rem 0;
  }

  .side-button {
    @extend .has-text-centered;
    margin: 1rem 0;
  }

  .info-content {
    @extend .content;
    @extend .is-size-6;
    @extend .is-size-7-mobile;
    line-height: 2;
  }
}

.info-search-wrapper {
  width: 300px;
  max-width: 70%;
  display: inline-block;
  padding-right: .5rem;
}

.box-thumbnail {
  box-shadow: 0 0 10px #eee;

  .box-header {
    @extend .is-size-5;
    @extend .is-size-6-mobile;

    padding: .6rem 1rem .3rem 1rem;
    font-weight: bold;

    &::first-letter {
      @extend .is-size-4;
      @extend .is-size-5-mobile;
      color: #209cee;
      margin-right: .3rem;
    }
  }

  .box-body {
    @extend .is-size-7-mobile;
    padding: .3rem 1rem 1rem 1rem;

    .content {
      padding: 0 0;
      margin: 0 0;
    }
  }
}
