<template>
  <div class="x-alert">
    <article
      v-for="(alert, index) in $root.$data.alert"
      :key="index"
      :class="['message', 'is-small', `is-${alert.type}`]"
    >
      <div class="message-header">
        <p>
          {{alert.name}}
        </p>
        <button
          class="delete is-small"
          aria-label="delete"
          @click="remove(index)"
        ></button>
      </div>
      <div class="message-body">
        {{alert.description}}
      </div>
    </article>
  </div>
</template>

<script>
import store from '@/global-data'

export default {
  data () {
    return {}
  },

  methods: {
    remove (index) {
      store.removeAlert(index)
    }
  }
}
</script>

<style lang="scss" scoped>
.x-alert {
  position: fixed;
  z-index: 10000;
  left: 1rem;
  bottom: 1rem;
  width: 220px;
  max-height: 500px;
}
</style>
