<template>
  <nav
    class="navbar is-fixed-top is-transparent"
    id="navbar"
    role="navigation"
    aria-label="main navigation"
  >

    <div class="container">
      <div class="navbar-brand">

        <!-- Logo -->
        <router-link class="navbar-item" to="/">
          <img src="/images/logo.png" height="60"/>
        </router-link>

        <!-- Burger -->
        <a
          :class="['navbar-burger', 'burger', (isActive ? 'is-active' : null)]"
          role="button"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarMenu"
          @click="isActive = !isActive"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div :class="['navbar-menu', (isActive ? 'is-active' : null)]">

        <!-- Left side menu -->
        <div class="navbar-start">
          <router-link
            class="navbar-item"
            to="/"
            active-class="is-active"
            :exact="true"
          >
            Beranda
          </router-link>

          <router-link
            class="navbar-item"
            to="/information"
            active-class="is-active"
            :exact="false"
          >
            Informasi
          </router-link>

          <router-link
            class="navbar-item"
            to="/practicum"
            active-class="is-active"
            :exact="false"
          >
            Praktikum
          </router-link>
        </div>

        <!-- Right side menu -->
        <div class="navbar-end">
          <div
            v-if="$root.$data.user"
            class="navbar-item has-dropdown is-hoverable"
          >
            <a class="navbar-link">
              {{$root.$data.user.name}}
            </a>
            <div class="navbar-dropdown is-right">
              <router-link
                class="navbar-item"
                :to="`/user/${$root.$data.user._id}`"
              >
                Profile Saya
              </router-link>
              <router-link
                class="navbar-item"
                :to="`/user/${$root.$data.user._id}/settings`"
              >
                Pengaturan
              </router-link>
              <router-link
                class="navbar-item"
                to="/access-control"
                v-if="$root.$data.user.roles.find(r => r === 'admin')"
              >
                Akses Kontrol
              </router-link>
              <hr class="navbar-divider" />
              <a class="navbar-item" @click="logout()">
                Keluar
              </a>
            </div>
          </div>
          <div v-else class="navbar-item">
            <div class="buttons">
              <router-link class="button is-primary" to="/register">
                Daftar
              </router-link>
              <router-link class="button is-primary" to="/login">
                Masuk
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import api from '@/api'
import store from '@/global-data'

export default {
  data () {
    return {
      isActive: false
    }
  },

  watch: {
    $route (to, from) {
      this.isActive = false
    }
  },

  methods: {
    // End user session
    logout () {
      api.get('/logout').then(({ data }) => {
        if (data.success) store.clearUser()
        this.$router.push('/login')
        store.addAlert(
          'success',
          'Berhasil Logout',
          'Anda sekarang tidak memiliki hak akses'
        )
      })
    }
  }
}
</script>
