<template>
  <div :class="['modal', (isActive ? 'is-active' : null)]">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">

        <!-- Message prompt goes here -->
        <slot></slot>

        <!-- Buttons (Desktop) -->
        <div class="buttons is-pulled-right is-hidden-mobile">
          <a
            class="button"
            v-for="(name, key) in options"
            :key="key"
            @click="select(key)"
          >
            {{name}}
          </a>
        </div>

        <!-- Buttons (Mobile) -->
        <div class="buttons is-hidden-tablet">
          <a
            class="button"
            v-for="(name, key) in options"
            :key="key"
            @click="select(key)"
          >
            {{name}}
          </a>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" @click="closeModal()"></button>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Object,
      default: () => ({ no: 'Tidak' })
    },
    close: {
      type: String,
      default: 'no'
    },
    isActive: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    // button is selected
    select (key) {
      this.$emit('selected', key)
      if (this.close === key) this.closeModal()
    },

    // modal want to close
    closeModal () {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  margin: 0 1rem;
}
.buttons.is-pulled-right {
  padding: 0 0;
  margin: -5px 0;
}
</style>
