<template>
  <div class="section">
    <!-- Show prompt to make sure user before delete -->
    <prompt
      @selected="(k) => k === 'yes' ? remove(id) : null"
      @close="promptDelete = false"
      :options="{ yes: 'Ya', no: 'Tidak' }"
      :is-active="promptDelete"
    >
      Apa anda yakin ingin menghapus kiriman ini?
    </prompt>

    <div class="container">

      <!-- Title Update/Create -->
      <div v-if="$route.params.id" class="title is-4">
        Perbaharui Informasi
      </div>
      <div v-else class="title is-4">
        Buat Informasi
      </div>

      <!-- Something probably went wrong -->
      <div v-if="$route.params.id && !id" class="field">
        <p class="help is-danger">
          Sepertinya informasi yang hendak diperbaharui tidak dapat dimuat,
          silahkan coba refresh halaman. Laporkan kesalahan ke admin jika tetap
          tidak berhasil.
        </p>
      </div>

      <form @submit.prevent="id ? update() : create()">

        <!-- Title field -->
        <div class="field">
          <div class="control">
            <input
              class="input is-shadowless"
              type="text"
              v-model="title"
              placeholder="Tulis judul isi..."
            />
          </div>
          <p class="help is-danger">
            {{errors.title}}
          </p>
        </div>

        <!-- Selector tab Editor/Preview -->
        <div class="field has-addons">
          <div class="control is-expanded">
            <div class="tabs">
              <ul>
                <li :class="[(selectedTab === 'editor' ? 'is-active' : null)]">
                  <a @click="selectedTab = 'editor'">
                    Editor
                  </a>
                </li>
                <li :class="[(selectedTab === 'preview' ? 'is-active' : null)]">
                  <a @click="(selectedTab = 'preview') && renderMD()">
                    Preview
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="control">
            <div class="tabs">
              <ul>
                <li>
                  <a
                    class="is-hidden-mobile"
                    href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
                    target="_blank"
                  >
                    Markdown Cheatsheet
                  </a>
                  <a
                    class="is-hidden-tablet"
                    href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
                    target="_blank"
                  >
                    ( ? )
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Tab: Editor -->
        <div v-show="selectedTab === 'editor'" class="field">
          <div class="control">
            <textarea
              class="textarea is-shadowless"
              v-model="content"
              placeholder="Tulis isi informasi..."
              rows="14"
            ></textarea>
          </div>
          <p class="help is-danger">
            {{errors.content}}
          </p>
        </div>

        <!-- Tab: preview -->
        <div v-show="selectedTab === 'preview'" class="field">
          <div class="content" v-html="contentHTML">
          </div>
        </div>

        <!-- Buttons -->
        <div class="field is-grouped">
          <div class="control">
            <button :class="[
              'button',
              'is-primary',
              (isLoading ? 'is-loading' : null)
            ]">
              Simpan
            </button>
          </div>
          <div class="control" v-if="id">
            <router-link :to="`/information/${id}`" class="button">
              Batal
            </router-link>
          </div>
          <div class="control" v-if="id">
            <a class="button is-danger" @click="promptDelete = true">
              Hapus
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import showdown from 'showdown'
import api from '@/api'
import store from '@/global-data'
import Prompt from '@/widgets/Prompt'

showdown.setFlavor('github')
const converter = new showdown.Converter()

export default {
  components: {
    Prompt
  },

  data () {
    return {
      id: null,
      title: '',
      content: '',
      contentHTML: '',
      errors: {},
      selectedTab: 'editor',
      isLoading: false,
      promptDelete: false
    }
  },

  mounted () {
    if (this.$route.params.id) {
      api
        .get(`/info/${this.$route.params.id}`)
        .then(({ data }) => {
          this.id = data.info._id
          this.title = data.info.title
          this.content = data.info.content
        })
        .catch(err => {
          store.addAlert('danger', err.name, err.message)
        })
    }
  },

  methods: {
    // Convert plain content to HTML for Preview
    renderMD () {
      this.contentHTML = converter.makeHtml(this.content)
    },

    // Create this information and save it to server database
    create () {
      this.isLoading = true
      this.errors = {}

      api
        .post('/info', {
          title: this.title,
          content: this.content
        })
        .then(({ data }) => {
          store.addAlert(
            'success',
            'Informasi Berhasil Dibuat',
            `Tersimpan dengan judul "${data.info.title}"`
          )

          this.$router.push(`/information/${data.info._id}`)
        })
        .catch(err => {
          if (
            err.response &&
            err.response.status === 422 &&
            err.response.data.errors
          ) {
            this.errors = err.response.data.errors
            return
          }

          store.addAlert('danger', err.name, err.message)
        })
        .finally(() => {
          this.isLoading = false
        })
    },

    // Update this information and save it to server database
    update () {
      this.isLoading = true
      this.errors = {}

      api
        .patch(`/info/${this.id}`, {
          title: this.title,
          content: this.content
        })
        .then(({ data }) => {
          store.addAlert(
            'success',
            'Informasi Berhasil Diperbaharui',
            `Tersimpan dengan judul "${data.info.title}"`
          )
        })
        .catch(err => {
          if (
            err.response &&
            err.response.status === 422 &&
            err.response.data.errors
          ) {
            this.errors = err.response.data.errors
            return
          }

          store.addAlert('danger', err.name, err.message)
        })
        .finally(() => {
          this.isLoading = false
        })
    },

    // Update this information from server database
    remove (id) {
      api
        .delete(`/info/${id}`)
        .then(({ data }) => {
          store.addAlert(
            'success',
            'Informasi Berhasil Dihapus',
            `Kiriman dengan judul "${data.info.title}" dibersihkan`
          )

          this.$router.push('/information')
        })
        .catch(err => {
          store.addAlert('danger', err.name, err.message)
        })
        .finally(() => {
          this.promptDelete = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  padding: .4rem .4rem 2rem .4rem;
  display: block;
  max-width: 800px;
}
</style>
