<template>
  <div class="section">
    <div class="info-container">

      <!-- Search Bar and Create Button -->
      <div class="has-text-right x-search">
        <div class="info-search-wrapper">
          <form @submit.prevent="search()">
            <div class="field has-addons">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Tulis kata kunci..."
                  v-model="searchQuery"
                />
              </div>
              <div class="control">
                <button class="button is-primary" type="submit">
                  Cari
                </button>
              </div>
            </div>
          </form>
        </div>
        <router-link
          v-if="creatable"
          class="button is-primary"
          to="/information/create"
        >
          Buat
        </router-link>
      </div>

      <!-- List information with snippet -->
      <div class="columns" v-for="info in listInfo" :key="info._id">
        <div class="column is-narrow is-hidden-mobile">
          <div class="date-box">
            {{showDateOnly(info.created_at)}}
          </div>
          <div class="month-box">
            {{showMonthYear(info.created_at)}}
          </div>
        </div>
        <div class="column">
          <div class="box-thumbnail">
            <div class="box-header">
              <router-link
                :to="`/information/${info._id}`"
                class="has-text-black"
              >
                {{info.title}}
              </router-link>
            </div>
            <div class="box-body">
              <div class="content has-text-dark is-size-7 is-hidden-tablet">
                &bullet; {{showFullDate(info.created_at)}}
              </div>
              <div
                class="content has-text-dark is-size-7"
                v-html="renderMD(info.content)"
              ></div>
              <div class="content has-text-dark is-size-7">
                ...
                <router-link :to="`/information/${info._id}`">
                  baca selengkapnya
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Load More Button -->
      <div class="has-text-centered" v-if="listInfo.length">
        <a
          class="button is-rounded"
          v-if="!disableLoadMore"
          @click="loadMore()"
        >
          Muat lagi
        </a>
        <span v-else>
          Tidak ada lagi :)
        </span>
      </div>

      <!-- Handle state "no info" -->
      <div v-if="!listInfo.length" class="x-nl-status">
        <div class="has-text-centered">
          <p v-if="isLoading" class="title is-3">
            Sedang memuat...
          </p>
          <p v-if="!isLoading && !submitedQuery" class="title is-3">
            Tidak ada informasi
          </p>
          <p v-if="!isLoading && submitedQuery" class="title is-3">
            Tidak ada informasi dengan kueri "{{submitedQuery}}"
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showdown from 'showdown'
import dateFormat from 'date-fns/format'
import api from '@/api'
import store from '@/global-data'

showdown.setFlavor('github')
const converter = new showdown.Converter()

export default {
  data () {
    return {
      listInfo: [],
      disableLoadMore: false,
      searchQuery: '',
      submitedQuery: '',
      isLoading: false,
      creatable: false
    }
  },

  mounted () {
    this.isLoading = true

    api
      .get('/info?paginate=10')
      .then(({ data }) => {
        this.listInfo = data.info
        this.creatable = data.creatable
      })
      .catch(err => {
        store.addAlert('danger', err.name, err.message)
      })
      .finally(() => {
        this.isLoading = false
      })
  },

  methods: {
    // convert content to HTML
    renderMD (content) {
      return converter.makeHtml(content)
    },

    // load more info related and append it to this current list
    loadMore () {
      api
        .get('/info', {
          params: {
            paginate: 10,
            before: this.listInfo[this.listInfo.length - 1]._id,
            search: this.submitedQuery
          }
        })
        .then(({ data }) => {
          if (data.info.length < 1) {
            store.addAlert(
              'info',
              'Tidak Ada Informasi Lagi',
              'Sudah tidak ada lagi informasi kami temukan lebih lawas dari ini'
            )

            this.disableLoadMore = true
          }

          for (let i in data.info) {
            this.listInfo.push(data.info[i])
          }
        })
        .catch(err => {
          store.addAlert('danger', err.name, err.message)
        })
    },

    // Search info specified by query and replace list with it
    search () {
      this.submitedQuery = this.searchQuery
      this.disableLoadMore = false
      this.listInfo = []
      this.isLoading = true

      api
        .get('/info', {
          params: {
            paginate: 10,
            search: this.submitedQuery
          }
        })
        .then(({ data }) => {
          this.listInfo = data.info
        })
        .catch(err => {
          store.addAlert('danger', err.name, err.message)
        })
        .finally(() => {
          this.isLoading = false
        })
    },

    // Convert timestamp to show only date
    showDateOnly (time) {
      return dateFormat(time, 'D')
    },

    // Convert timestamp to show only month and year
    showMonthYear (time) {
      return dateFormat(time, 'MM / YYYY')
    },

    // Convert timestamp to full readable date
    showFullDate (time) {
      return dateFormat(time, 'D MMM YYYY')
    }
  }
}
</script>

<style lang="scss" scoped>
.x-search {
  margin-bottom: 3rem;
}
.x-nl-status {
  padding: 2rem 0;
}
</style>
