<template>
  <div class="section">
    <div class="info-container">

      <!-- Title -->
      <p class="title is-2 x-m-title is-hidden-mobile">
        {{info.title}}
      </p>
      <div class="is-hidden-tablet x-d-title">
        <p class="title is-4">
          {{info.title}}
        </p>
        <span class="tag is-primary">
          {{showFullDate(info.created_at)}}
        </span>
      </div>

      <div class="columns">

        <!-- Sticky side status -->
        <div class="column is-narrow is-hidden-mobile">
          <div class="sticky">
            <div class="date-box">
              {{showDateOnly(info.created_at)}}
            </div>
            <div class="month-box">
              {{showMonthYear(info.created_at)}}
            </div>
          </div>
        </div>

        <!-- Content -->
        <div class="column">
          <div class="info-content" v-html="renderMD(info.content)"></div>
          <router-link
            v-if="editable"
            class="is-small button"
            :to="`/information/${info._id}/edit`"
          >
            Ubah
          </router-link>
        </div>

        <!-- Just a GAP -->
        <div class="column is-narrow is-hidden-mobile">
          <!-- GAP 60px -->
          <div style="width: 60px;"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showdown from 'showdown'
import dateFormat from 'date-fns/format'
import api from '@/api'
import store from '@/global-data'

showdown.setFlavor('github')
const converter = new showdown.Converter()

export default {
  data () {
    return {
      info: {},
      editable: false
    }
  },

  mounted () {
    api
      .get(`/info/${this.$route.params.id}`)
      .then(({ data }) => {
        this.info = data.info
        this.editable = data.editable
      })
      .catch(err => {
        store.addAlert('danger', err.name, err.message)
      })
  },

  methods: {
    // convert content to HTML
    renderMD (content) {
      return converter.makeHtml(content)
    },

    // Convert timestamp to show only date
    showDateOnly (time) {
      return dateFormat(time, 'D')
    },

    // Convert timestamp to show only month and year
    showMonthYear (time) {
      return dateFormat(time, 'MM / YYYY')
    },

    // Convert timestamp to full readable date
    showFullDate (time) {
      return dateFormat(time, 'D MMM YYYY')
    }
  }
}
</script>

<style lang="scss">
.x-m-title {
  margin-bottom: 3rem;
}
.x-d-title {
  margin-bottom: 1rem;
}
</style>
